<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title>Lookup CLA</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/admin/lookup/find}" th:object="${user}" method="get">
        <div class="form-group" th:classAppend="${#fields.hasErrors('gitHubLogin')}? 'has-error'">
            <label class="control-label" for="gitHubLogin">GitHub Login</label>
            <input type="text" class="form-control" th:field="*{gitHubLogin}" placeholder="(i.e. rwinch)">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('gitHubLogin')}" id="err-gitHubLogin">
                <p th:errors="*{gitHubLogin}">Input is incorrect</p>
            </div>
        </div>
        <div class="form-group" th:classAppend="${#fields.hasErrors('claName')}? 'has-error'">
            <label class="control-label" for="claName">Cla Name</label>
            <input type="text" class="form-control" th:field="*{claName}" value="pivotal">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('claName')}" id="err-claName">
                <p th:errors="*{claName}">Input is incorrect</p>
            </div>
        </div>
        <button id="create-submit" type="submit" class="btn btn-success">Find Signature</button>
    </form>
    <div th:if="${signed != null}">
        <div th:if="${signed}">The user has signed the CLA</div>
        <div th:if="${!signed}">The user has not signed the CLA</div>
    </div>
</div>
</body>
</html>
