<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
	  layout:decorator="layouts/main">
	<head>
		<title>Sync Pull Request</title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<h2>Sync Pull Request</h2>
			<p>Would you like to synchronize the status of the Pull Request?</p>
			<form id="synch-form" th:action="@{/sync/{claName}(claName=${claRequest.claName})}" method="post" th:object="${claRequest}">
				<input type="hidden" th:field="*{claName}"/>
				<input type="hidden" th:field="*{repositoryId}"/>
				<input type="hidden" th:field="*{pullRequestId}"/>
				<button id="sign" type="submit" class="btn btn-success">Sync Pull Request</button>
			</form>
		</div>
	</body>
</html>
