<!DOCTYPE html>
<html layout:decorator="layouts/main">
	<head>
		<title>Create CLA</title>
	</head>
	<body>
		<div layout:fragment="content">
			<form th:action="@{/admin/cla/create}" th:object="${createClaForm}" method="post">
				<div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : form-group">
					<label class="control-label" for="name">Agreement Name</label>
					<input type="text" class="form-control" th:field="*{name}" placeholder="(i.e. apache)">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" id="err-name">
						<p th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('individualContent.markdown')}? 'has-error form-group' : form-group">
					<label class="control-label" for="individualContent.markdown">Individual Contributor Text</label>
					<textarea class="form-control" th:field="*{individualContent.markdown}"></textarea>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('individualContent.markdown')}" id="err-individualContent.markdown">
						<p th:each="err : ${#fields.errors('individualContent.markdown')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('corporateContent.markdown')}? 'has-error form-group' : form-group">
					<label class="control-label" for="corporateContent.markdown">Corporate Contributor Text</label>
					<textarea class="form-control" th:field="*{corporateContent.markdown}"></textarea>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('corporateContent.markdown')}" id="err-corporateContent.markdown">
						<p th:each="err : ${#fields.errors('corporateContent.markdown')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('description')}? 'has-error form-group' : form-group">
					<label class="control-label" for="description">Agreement Description</label>
					<input type="text" class="form-control" th:field="*{description}" placeholder="(i.e. ICLA FINAL 072310)">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('description')}" id="err-description">
						<p th:each="err : ${#fields.errors('description')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('primary')}? 'has-error form-group' : form-group">
					<label class="control-label" for="primary">Primary CLA</label>
					<input type="checkbox" class="form-control" th:field="*{primary}">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('primary')}" id="err-name">
						<p th:each="err : ${#fields.errors('primary')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<button id="create-submit" type="submit" class="btn btn-success">Create CLA</button>
			</form>
		</div>
	</body>
</html>