<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
	  layout:decorator="layouts/main">
	<head>
		<title>Manage CLAs</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="text-right"><a id="create" th:href="@{/admin/cla/create}">Create New</a></div>
			<table id="clas" class="table table-stripped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cla : ${clas}">
						<td th:text="${cla.name}"></td>
						<td th:text="${cla.description}"></td>
						<td><a th:href="@{/admin/cla/{claId}/edit(claId=${cla.id})}">Edit</a></td>
						<td><form th:action="@{/admin/cla/{claId}(claId=${cla.id})}" th:method="delete"><input type="submit" value="Delete"/></form></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>