<!DOCTYPE html>
<html layout:decorator="layouts/main">
	<head>
		<title>Link to CLA</title>
		<!-- Docs CSS -->
				<link th:href="@{/webjars/select2/dist/css/select2.min.css}" rel="stylesheet"/>
				<style type="text/css">

#repositories[disabled] {
		background-color: #eee !important;
		opacity: 1;
		height: 33px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #03786e;
		border: 1px solid #03786e;
		color: #fff;
}
		</style>
	</head>
	<body>
		<div layout:fragment="content">
			<div th:if="${success}" class="alert alert-success">
				You have successfully linked your repository to a contributor agreement. Specifically:

				<ul>
					<li>Created a pull request hook for each linked repository <a href="#" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#what-happened"></a></li>
					<li>Will use your OAuth access token to update the commit status of the linked repositories <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="modal" data-target="#what-happened"></a></li>
				</ul>
			</div>
			<div class="container" th:if="${success}">
				<h3>Next Steps</h3>
				<p>The next step is to update all of the contributor guide lines in your repositories to include a link to the
					contributor license agreement.</p>
				<div th:if="${not #lists.isEmpty(editContributingMdUrls)}">
					<h4>CONTRIBUTING.md</h4>
					<p>
						To make things easier you can edit each CONTRIBUTING.md by <a id="contributing-md-urls" th:attr="data-urls=${#strings.listJoin(editContributingMdUrls,',')}" href="#">clicking here</a>. You can use the following as a template for updating the
						contributor guidelines.
					</p>
					<pre><code id="contributing-md">
If you have not previously done so, please fill out and
submit the [Contributor License Agreement](<div th:remove="tag" th:utext="${signClaUrl}"></div>).</code>
					</pre>
				</div>
				<div th:if="${not #lists.isEmpty(editContributingAdocUrls)}">
					<h4>CONTRIBUTING.adoc</h4>
					<p>
						To make things easier you can edit each CONTRIBUTING.adoc by <a id="contributing-adoc-urls" th:attr="data-urls=${#strings.listJoin(editContributingAdocUrls,',')}" href="#">clicking here</a>. You can use the following as a template for updating the
						contributor guidelines.
					</p>
					<pre><code id="contributing-adoc">
If you have not previously done so, please fill out and
submit the <div th:remove="tag" th:utext="${signClaUrl}"></div>[Contributor License Agreement].</code>
					</pre>
				</div>
				<h3>Link more Contributor Agreements</h3>
			</div>
			<div class="modal fade" tabindex="-1" role="dialog" id="what-happened">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">What does this do?</h4>
						</div>
						<div class="modal-body">
							<p>This step performs the following steps:</p>
							<ol>
								<li>
									<p>
										This step will a <a
											href="https://developer.github.com/v3/repos/hooks/#create-a-hook">pull
											request hook</a> to the GitHub repository.
									</p>
									<p>This ensures that this application receives an event each
										time a pull request is created. When the event is received, the
										application checks to see if the author has signed the
										agreement. If the author has signed the agreement, the pull
										request is marked as passing. Otherwise, the pull request is
										marked as failing.</p>
									<p th:if="${hookUrls != null}">
										You can view the settings <a id="open-hook-urls" th:attr="data-urls=${#strings.listJoin(hookUrls,',')}" href="#">here</a>
									</p>
								</li>
								<li>
									<p>This step will save the GitHub access token used to
										authenticate you in order to update the <a
											href="https://developer.github.com/v3/repos/statuses/">Commit
											Status</a> of pull requests to the provided repositories.</p>
									<p>
										When the event (from item #1) is received by this application, the
											Commit Status must be set to indicate the pull request passed
											the license check or not. The saved access token is used to
											authorize this application to set the Commit Status.
									</p>
									<p th:if="${accessTokensUrl}">
										You can view the access token being used in  <a th:href="${accessTokensUrl}">your GitHub settings</a>.
									</p>
								</li>
							</ol>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<p>This step will associate a Contributor License Agreement to specific GitHub repositories
				<a href="#" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#what-happened"></a></p>
			<form id="form" th:action="@{/admin/cla/link}" method="post" th:object="${linkClaForm}">
				<div class="form-group" th:class="${#fields.hasErrors('repositories')}? 'has-error form-group' : form-group">
					<label for="repositories">
						Repository <a href="#" id="reload-repo-list" title="refresh list of repositories">
												<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> refresh list</a>
					</label>
					<select class="form-control" multiple="multiple" th:field="*{repositories}">
						<option th:each="repo : *{repositories}"
										th:value="${repo}"
										th:text="${repo}">githubOrg/repoName</option>
					</select>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('repositories')}" id="err-repositories">
						<p th:each="err : ${#fields.errors('repositories')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div id="tags" class="form-group">

				</div>
				<div class="form-group" th:class="${#fields.hasErrors('claName')}? 'has-error form-group' : form-group">
					<label for="cla">
						Contributor Agreement
					</label>
					<select class="form-control" th:field="*{claName}">
						<option value=""></option>
						<option th:each="l : ${licenses}" th:value="${l.name}" th:text="${l.name}"></option>
					</select>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('claName')}" id="err-claName">
						<p th:each="err : ${#fields.errors('claName')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('legacy')}? 'has-error form-group' : form-group">
					<label for="cla">
						Legacy Agreement (Optional)
					</label>
					<select class="form-control" th:field="*{legacy}">
						<option value=""></option>
						<option th:each="l : ${licenses}" th:value="${l.name}" th:text="${l.name}"></option>
					</select>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('legacy')}" id="err-legacy">
						<p th:each="err : ${#fields.errors('legacy')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<button id="submit" type="submit" class="btn btn-success">Use CLA</button>
			</form>
		</div>
		<div layout:fragment="javascript">

			<script th:src="@{/webjars/select2/dist/js/select2.min.js}" type="text/javascript"></script>
						<script type="text/javascript">
								var reloadRepositoryList = function() {
										$('#repositories').prop('disabled', true);
										$.getJSON('./link/repositories.json')
														.done(function (data) {
																$("#repositories").select2({data: data});
																sessionStorage.setItem("repositories", JSON.stringify(data));
																$('#repositories').removeProp('disabled');
														});
								}

								if (sessionStorage.getItem("repositories")) {
										$("#repositories").select2({
												data: JSON.parse(sessionStorage.getItem("repositories"))
										});
								}
								else {
										reloadRepositoryList();
								}

								var openDataUrls = function() {
										var urls = $(this).data("urls").split(',');
										$.each(urls, function(i, u) {
												window.open(u);
										});
										return false;
								};

								$('#reload-repo-list').click(reloadRepositoryList);
								$('#open-hook-urls').click(openDataUrls);
								$('#contributing-md-urls').click(openDataUrls);
								$('#contributing-adoc-urls').click(openDataUrls);

						</script>

		</div>
	</body>
</html>