<!DOCTYPE html>
<html layout:decorator="layouts/main">
	<head>
		<title>Sign ICLA</title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<ol class="breadcrumb hidden-print">
				<li><a id="breadcrumb-cla-link" th:href="@{/sign/{claName}(claName=${signClaForm.claName})}">CLA</a></li>
				<li class="active">Individual Contributor License Agreement</li>
			</ol>

			<div th:if="${signClaForm.signed}" class="alert alert-success" id="success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Thank you for signing the Agreement!
				<span th:if="${signClaForm.repositoryId != null}">
					The contributor license agreement checks on
					<a id="pull-request" th:href="@{https://github.com/{repositoryId}/pull/{pullRequestId}(repositoryId=${signClaForm.repositoryId},pullRequestId=${signClaForm.pullRequestId})}" th:text="${signClaForm.repositoryId} + '/pull/' + ${signClaForm.pullRequestId}">your pull request</a>
					should now pass.
				</span>
			</div>

			<div class="pull-right hidden-print">
				<a href="#" id="print"><i class="glyphicon glyphicon-print" title="Print"></i></a>
			</div>
			<div class="form-group">
				<div id="individual-cla" th:utext="${cla.individualContent.html}" class="container">

				</div>
			</div>
			<form id="sign-form" class="hidden-print" th:if="${!signClaForm.signed}" th:action="@{/sign/{claName}/icla#sign-form(claName=${signClaForm.claName})}" method="post" th:object="${signClaForm}">
				<div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : form-group">
					<label for="name">
						Name
					</label>
					<input class="form-control"  type="text" th:field="*{name}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" id="err-name">
						<p th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('email')}? 'has-error form-group' : form-group">
					<label for="email">
						Email
					</label>
					<select class="form-control" th:field="*{email}">
						<option value="">-- Please Select --</option>
						<option th:each="e : ${currentUser.emails}" th:value="${e}" th:text="${e}"></option>
					</select>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" id="err-email">
						<p th:each="err : ${#fields.errors('email')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('mailingAddress')}? 'has-error form-group' : form-group">
					<label for="mailingAddress">
						Mailing Address
					</label>
					<input class="form-control" type="text" th:field="*{mailingAddress}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('mailingAddress')}" id="err-mailingAddress">
						<p th:each="err : ${#fields.errors('mailingAddress')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('country')}? 'has-error form-group' : form-group">
					<label for="country">
						Country
					</label>
					<input class="form-control" type="text" th:field="*{country}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('country')}" id="err-country">
						<p th:each="err : ${#fields.errors('country')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('telephone')}? 'has-error form-group' : form-group">
					<label for="telephone">
						Telephone
					</label>
					<input class="form-control" type="text" th:field="*{telephone}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('telephone')}" id="err-telephone">
						<p th:each="err : ${#fields.errors('telephone')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<hr/>
				<div class="checkbox" th:class="${#fields.hasErrors('confirm')}? 'has-error checkbox' : checkbox">
					<label for="confirm">
						<input type="checkbox" id="confirm" th:field="*{confirm}"/> I have read and agree to the terms and conditions of the above Contributor License Agreement.
					</label>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('confirm')}" id="err-confirm">
						<p th:each="err : ${#fields.errors('confirm')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<hr/>

				<input type="hidden" th:field="*{claId}"/>
				<input type="hidden" th:if="${signClaForm.repositoryId != null}" th:field="*{repositoryId}"/>
				<input type="hidden" th:if="${signClaForm.pullRequestId != null}" th:field="*{pullRequestId}"/>
				<button id="sign" type="submit" class="btn btn-success">Submit & Contribute</button>
			</form>
		</div>
		<div layout:fragment="javascript">
			<script th:src="@{/assets/pages/cla/icla/sign.js}" type="text/javascript"></script>
		</div>
	</body>
</html>
