<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/main">
	<head>
		<title>View ICLA</title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<div class="pull-right hidden-print">
				<a href="#" id="print"><i class="glyphicon glyphicon-print" title="Print"></i></a>
			</div>
			<div class="form-group">
				<div id="individual-cla" th:utext="${cla.individualContent.html}" class="container">

				</div>
			</div>
		</div>
	</body>
</html>
