/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height + 50px of padding*/
  margin-bottom: 110px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  background-color: #03786e;
}

.footer, .footer a {
	color: #fff;
}

.footer a {
	text-decoration: underline;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
