<!DOCTYPE html>
<html layout:decorator="layouts/main">
	<head>
		<title>Dashboard</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1>Signed Agreements</h1>
			<p id="no-signatures" th:if="${clas.empty}">You have not signed any Contributor License agreements yet.</p>
			<table class="table table-stripped" th:if="${!clas.empty}">
				<thead>
					<tr>
						<th>Name</th>
						<th>View</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cla : ${clas}">
						<td th:text="${cla.name}"></td>
						<td><a th:href="@{/sign/{name}/icla(name=${cla.name})}">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>