<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main">
<head>
<title>Error</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 id="error" th:text="${error}">Error</h1>
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Sorry about that...the page you requested produced an error.
		</div>
	</div>
</body>
</html>