<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<p>
			Thank you for your interest in becoming a Pivotal community contributor.
		</p>
		<p>
			Before you become a contributor to one of the Pivotal projects, you may review and agree to the terms of the <a id="pivotal-cla-link" href="./sign/pivotal">Contributor License Agreement (CLA)</a>.
		</p>
	</div>
</body>
</html>