<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
<title>Home</title>
</head>
<body th:with="claName=${claRequest.claName},repositoryId=${claRequest.repositoryId},pullRequestId=${claRequest.pullRequestId}">
	<div layout:fragment="content">
		<div th:if="${signed}" class="alert alert-success hidden-print" id="signed">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Thank you for signing the Agreement!
			<span th:if="${repositoryId != null}">
				The contributor license agreement checks on
				<a th:href="@{'https://github.com/' + ${repositoryId} + '/pull/' + ${pullRequestId}}" th:text="${repositoryId} + '/pull/' + ${pullRequestId}">your pull request</a>
				should now pass.
			</span>
		</div>
		<div class="jumbotron">
			<h1>Contributing to Pivotal Open Source Projects</h1>
			<p>
				Thanks for your interest in contributing to Pivotal’s open source projects!
				This page will help you navigate the automated process of completing the contributor license agreements that enable Pivotal to accept, use, and distribute your contributions to Pivotal open source projects.
			</p>
			<div class="container">
				<a id="learn-more" class="btn btn-default btn-lg" th:href="@{/about}">Learn more »</a>
			</div>
		</div>
		<div class="alert alert-info alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			If you are submitting an <a th:href="@{/about#obvious-fixes}">obvious fix</a>, then you do not need to sign the CLA.
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>Individual Contributor License Agreement</h2>
					<p>
						I'm an individual contributor
					</p>
					<p>
						<a id="icla-link" class="btn btn-success btn-lg" th:href="${pullRequestId == null} ? @{/sign/{claName}/icla(claName=${claName})} : @{/sign/{claName}/icla(claName=${claName},repositoryId=${repositoryId},pullRequestId=${pullRequestId})}">Sign Individual CLA</a>
					</p>
				</div>
				<div class="col-md-6">
					<h2>Corporate Contributor License Agreement</h2>
					<p>
						I'm representing a company wanting its employees to contribute
					</p>
					<p>
						<a id="ccla-link" class="btn btn-success btn-lg" th:href="${pullRequestId == null} ? @{/sign/{claName}/ccla(claName=${claName})} : @{/sign/{claName}/ccla(claName=${claName},repositoryId=${repositoryId},pullRequestId=${pullRequestId})}">Sign Corporate CLA</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>