<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<div th:if="${signed}" class="alert alert-success" id="signed">
			Thank you for signing the Agreement!
		</div>
		<div class="jumbotron">
			<h1>Contributing to Pivotal Open Source Projects</h1>
			<p>
				Thanks for your interest in contributing to Pivotal’s open source projects!
				This page will help you navigate the automated process of completing the contributor license agreements that enable Pivotal to accept, use, and distribute your contributions to Pivotal open source projects.
			</p>
			<div class="container">
				<a id="learn-more" class="btn btn-default btn-lg" th:href="@{/about}">Learn more »</a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>Individual Contributor License Agreement</h2>
					<p>
						I'm an individual contributor
					</p>
					<p>
						<a id="icla-link" class="btn btn-success btn-lg" th:href="${pullRequestId == null} ? @{/sign/{claName}/icla(claName=${claName})} : @{/sign/{claName}/icla(claName=${claName},repositoryId=${repositoryId},pullRequestId=${pullRequestId})}">Sign Individual CLA</a>
					</p>
				</div>
				<div class="col-md-6">
					<h2>Corporate Contributor License Agreement</h2>
					<p>
						I'm representing a company wanting its employees to contribute
					</p>
					<p>
						<a id="ccla-link" class="btn btn-success btn-lg" th:href="${pullRequestId == null} ? @{/sign/{claName}/ccla(claName=${claName})} : @{/sign/{claName}/ccla(claName=${claName},repositoryId=${repositoryId},pullRequestId=${pullRequestId})}">Sign Corporate CLA</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>