<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
	  layout:decorator="layouts/main">
	<head>
		<title>Sign CCLA</title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<ol class="breadcrumb hidden-print">
				<li><a id="breadcrumb-cla-link" th:href="@{/sign/{claName}(claName=${signCorporateClaForm.claName})}">CLA</a></li>
				<li class="active">Corporate Contributor License Agreement</li>
			</ol>
			<div th:if="${signCorporateClaForm.signed}" class="alert alert-success hidden-print" id="success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Thank you for signing the Agreement!
				<span th:if="${signCorporateClaForm.repositoryId != null}">
					The contributor license agreement checks on
					<a id="pull-request" th:href="@{https://github.com/{repositoryId}/pull/{pullRequestId}(repositoryId=${signCorporateClaForm.repositoryId},pullRequestId=${signCorporateClaForm.pullRequestId})}" th:text="${signCorporateClaForm.repositoryId} + '/pull/' + ${signCorporateClaForm.pullRequestId}">your pull request</a>
					should now pass.
				</span>
			</div>
			<div class="pull-right hidden-print">
				<a href="#" id="print"><i class="glyphicon glyphicon-print" title="Print"></i></a>
			</div>

			<div class="form-group">
				<div id="corporate-cla" th:utext="${cla.corporateContent.html}" class="container">

				</div>
			</div>
			<form id="sign-form" class="hidden-print" th:if="${!signCorporateClaForm.signed}" th:action="@{/sign/{claName}/ccla#sign-form(claName=${signCorporateClaForm.claName})}" method="post" th:object="${signCorporateClaForm}">
				<div class="form-group" th:classAppend="${#fields.hasErrors('name')}? 'has-error'">
					<label for="name">
						Name
					</label>
					<input class="form-control"  type="text" th:field="*{name}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" id="err-name">
						<p th:errors="*{name}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:classAppend="${#fields.hasErrors('email')}? 'has-error'">
					<label for="email">
						Email
					</label>
					<select class="form-control" th:field="*{email}">
						<option value="">-- Please Select --</option>
						<option th:each="e : ${currentUser.emails}" th:value="${e}" th:text="${e}"></option>
					</select>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" id="err-email">
						<p th:errors="*{email}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:classAppend="${#fields.hasErrors('mailingAddress')}? 'has-error'">
					<label for="mailingAddress">
						Mailing Address
					</label>
					<input class="form-control" type="text" th:field="*{mailingAddress}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('mailingAddress')}" id="err-mailingAddress">
						<p th:errors="*{mailingAddress}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:classAppend="${#fields.hasErrors('country')}? 'has-error'">
					<label for="country">
						Country
					</label>
					<input class="form-control" type="text" th:field="*{country}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('country')}" id="err-country">
						<p th:errors="*{country}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:classAppend="${#fields.hasErrors('telephone')}? 'has-error'">
					<label for="telephone">
						Telephone
					</label>
					<input class="form-control" type="text" th:field="*{telephone}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('telephone')}" id="err-telephone">
						<p th:errors="*{telephone}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:classAppend="${#fields.hasErrors('companyName')}? 'has-error'">
					<label for="companyName">
						Company Name
					</label>
					<input class="form-control"  type="text" th:field="*{companyName}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('companyName')}" id="err-companyName">
						<p th:errors="*{companyName}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:classAppend="${#fields.hasErrors('gitHubOrganization')}? 'has-error'">
					<label for="gitHubOrganization">
						GitHub Organization
					</label>

					<span>
						<a tabindex="0" role="button" class="btn popovers" data-toggle="popover" data-trigger="focus" title="" data-content="This signature will be used if the GitHub user: <ul><li>Is a member of the selected organization</li><li>Has made their <a href='https://help.github.com/articles/publicizing-or-hiding-organization-membership/'>membership public</a></li></ul>" data-original-title="GitHub Ogranization">
							<i class='glyphicon glyphicon-info-sign'></i>
						</a>
					</span>
					<select class="form-control" th:field="*{gitHubOrganization}">
						<option value="">-- Please Select --</option>
						<option th:each="e : ${signCorporateClaForm.gitHubOrganizations}" th:value="${e}" th:text="${e}"></option>
					</select>

					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('gitHubOrganization')}" id="err-gitHubOrganization">
						<p th:errors="*{gitHubOrganization}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:classAppend="${#fields.hasErrors('title')}? 'has-error'">
					<label for="title">
						Job Title
					</label>
					<input class="form-control"  type="text" th:field="*{title}" placeholder="VP of Engineering, CEO, CTO, etc"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}" id="err-title">
						<p th:errors="*{title}">Input is incorrect</p>
					</div>
				</div>
				<hr/>
				<div class="checkbox" th:classAppend="${#fields.hasErrors('confirm')}? 'has-error'">
					<label for="confirm">
						<input type="checkbox" id="confirm" th:field="*{confirm}"/> I have read and agree to the terms and conditions of the above Contributor License Agreement.
					</label>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('confirm')}" id="err-confirm">
						<p th:errors="*{confirm}">Input is incorrect</p>
					</div>
				</div>
				<hr/>


				<input type="hidden" th:field="*{claId}"/>
				<input type="hidden" th:if="${signCorporateClaForm.repositoryId != null}" th:field="*{repositoryId}"/>
				<input type="hidden" th:if="${signCorporateClaForm.pullRequestId != null}" th:field="*{pullRequestId}"/>
				<button id="sign" type="submit" class="btn btn-success">Submit & Contribute</button>
			</form>
		</div>

		<div layout:fragment="javascript">
			<script th:src="@{/assets/pages/cla/ccla/sign.js}" type="text/javascript"></script>
		</div>
	</body>
</html>
