<!DOCTYPE html>
<html layout:decorator="layouts/main">
	<head>
		<title>Sign CCLA</title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<ol class="breadcrumb">
				<li><a id="breadcrumb-cla-link" th:href="@{/sign/{claName}(claName=${cla.name})}">CLA</a></li>
				<li class="active">Corporate Contributor License Agreement</li>
			</ol>
			<div th:if="${signCorporateClaForm.signed}" class="alert alert-success" id="success">
				Thank you for signing the Agreement!
				<span th:if="${signCorporateClaForm.repositoryId != null}">
					The contributor license agreement checks on
					<a th:href="@{'https://github.com/' + ${signCorporateClaForm.repositoryId} + '/pull/' + ${signCorporateClaForm.pullRequestId}}" th:text="${signCorporateClaForm.repositoryId} + '/pull/' + ${signCorporateClaForm.pullRequestId}">your pull request</a>
					should now pass.
				</span>
			</div>
			<div class="form-group">
				<div id="corporate-cla" th:utext="${cla.corporateContent.html}" class="container">

				</div>
			</div>
			<form th:if="${!signCorporateClaForm.signed}" th:action="@{/sign/{claName}/ccla(claName=${cla.name})}" method="post" th:object="${signCorporateClaForm}">
				<div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : form-group">
					<label for="name">
						Name
					</label>
					<input class="form-control"  type="text" th:field="*{name}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" id="err-name">
						<p th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('email')}? 'has-error form-group' : form-group">
					<label for="email">
						Email
					</label>
					<select class="form-control" th:field="*{email}">
						<option value=""></option>
						<option th:each="e : ${currentUser.emails}" th:value="${e}" th:text="${e}"></option>
					</select>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" id="err-email">
						<p th:each="err : ${#fields.errors('email')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('mailingAddress')}? 'has-error form-group' : form-group">
					<label for="mailingAddress">
						Mailing Address
					</label>
					<input class="form-control" type="text" th:field="*{mailingAddress}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('mailingAddress')}" id="err-mailingAddress">
						<p th:each="err : ${#fields.errors('mailingAddress')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('country')}? 'has-error form-group' : form-group">
					<label for="country">
						Country
					</label>
					<input class="form-control" type="text" th:field="*{country}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('country')}" id="err-country">
						<p th:each="err : ${#fields.errors('country')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('telephone')}? 'has-error form-group' : form-group">
					<label for="telephone">
						Telephone
					</label>
					<input class="form-control" type="text" th:field="*{telephone}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('telephone')}" id="err-telephone">
						<p th:each="err : ${#fields.errors('telephone')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('companyName')}? 'has-error form-group' : form-group">
					<label for="companyName">
						Company Name
					</label>
					<input class="form-control"  type="text" th:field="*{companyName}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('companyName')}" id="err-companyName">
						<p th:each="err : ${#fields.errors('companyName')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('gitHubOrganization')}? 'has-error form-group' : form-group">
					<label for="gitHubOrganization">
						GitHub Organization
					</label>

					<span>
						<a tabindex="0" role="button" role="button" class="btn popovers" data-toggle="popover" data-trigger="focus" title="" data-content="This signature will be used if the GitHub user: <ul><li>Is a member of the selected organization</li><li>Has made their <a href='https://help.github.com/articles/publicizing-or-hiding-organization-membership/'>membership public</a></li></ul>" data-original-title="GitHub Ogranization">
							<i class='glyphicon glyphicon-info-sign'></i>
						</a>
					</span>
					<select class="form-control" th:field="*{gitHubOrganization}">
						<option value=""></option>
						<option th:each="e : ${signCorporateClaForm.gitHubOrganizations}" th:value="${e}" th:text="${e}"></option>
					</select>

					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('gitHubOrganization')}" id="err-gitHubOrganization">
						<p th:each="err : ${#fields.errors('gitHubOrganization')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('title')}? 'has-error form-group' : form-group">
					<label for="title">
						Title
					</label>
					<input class="form-control"  type="text" th:field="*{title}"/>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}" id="err-title">
						<p th:each="err : ${#fields.errors('title')}" th:text="${err}">Input is incorrect</p>
					</div>
				</div>

				<input type="hidden" th:field="*{claId}"/>
				<input type="hidden" th:if="${signCorporateClaForm.repositoryId != null}" th:field="*{repositoryId}"/>
				<input type="hidden" th:if="${signCorporateClaForm.pullRequestId != null}" th:field="*{pullRequestId}"/>
				<button id="sign" type="submit" class="btn btn-success">I Agree</button>
			</form>
		</div>
		<div layout:fragment="javascript">
			<script type="text/javascript">
			$("[data-toggle=popover]").popover({html:true});
			</script>
		</div>
	</body>
</html>